{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>

  <main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to Daily Post Blog! Here we'll be talking  about peoples posts and daily news in the country</p>
        <p>Always visit our website to know the current update happening.</p>
        <p>
          <a class="btn btn-primary" href="posts" role="button">Go to Posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}